* {
  margin: 0;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
  color: steelblue;
  text-decoration: none;
}

body {
  background-color: powderblue;
}
.topBar {
  background-color: darkslategray;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 16px;
}

.topBar h3 {
  padding: 5px 30px 0 0;
}

.topBar button,
form [type='download'] {
  padding: 16px;
  background-color: steelblue;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
  width: max-content;
  grid-area: button;
}

.topBar button:hover,
form [type='download']:hover {
  background-color: cadetblue;
}

.content h1 {
  text-align: center;
  margin: 80px;
}

form {
  position: relative;
  margin: auto;
  width: 700px;
  display: grid;
  row-gap: 30px;
  column-gap: 10px;
  grid-template: auto / 1fr 1fr 1fr;
  grid-template-areas:
    'firstNameBox lastNameBox emailBox'
    'telBox urlBox companyBox'
    'bottom bottom bottom'
    '. button .';
}

/* form > div {
  border: 1px solid black;
} */

input,
select {
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  color: #4d4d4d;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 1em;
}

.bottom {
  grid-area: bottom;
}

.bottom ul {
  list-style: none;
  padding-left: 0;
}

.bottom li {
  padding-top: 8px;
}

#subscribe {
  width: max-content;
  margin-right: 16px;
}

select {
  margin-bottom: 30px;
}

@media all and (max-width: 800px) {
  form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  form [type='download'] {
    align-self: center;
  }
}
