*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Root */

:root {
  --ff-primary: 'Lora', serif;
  --ff-secondary: 'Roboto Slab', serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #6d6875;
  --clr-accent: #b5838d;

  --col1: #ffcdb2;
  --col2: #ffb4a2;
  --col3: #e5989b;
  --col4: #b5838d;
  --col5: #6d6875;

  --bg-trans: rgba(255, 255, 255, 0.25);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
.active {
  color: var(--col4);
}
/* General */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

input[type='submit'] {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 8px;
}

input[type='submit']:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header ------------------------------------- */
header {
  position: fixed;
  padding: 18px 10%;
  background-color: var(--bg-trans);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  top: 0;
  width: 100%;
  z-index: 100;
  /* border: 1px solid gray; */
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header li:first-child {
  flex-grow: 1;
}

header li:first-child a {
  font-size: 2rem;
  font-weight: bold;
}

header li:not(:first-child) {
  width: 120px;
  text-align: center;
}

header a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  color: var(--clr-accent);
  font-size: 1.25rem;
  font-weight: bold;
}

/*  Intro section  */
.intro {
  padding-top: 180px;
  height: 600px;
  width: min-content;
  margin: 0 auto;
}

@media (max-width: 700px) {
  header li:first-child a {
    font-size: 1.5rem;
  }

  header li:not(:first-child) {
    width: 15vw;
  }
}

/* projects ---------------------------------------- */

.my-projects {
  background-color: var(--clr-dark);
  background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_960_720.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--projects {
  color: var(--clr-accent);
  position: relative;
}

.section__title--projects::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.projects {
  margin-bottom: 4em;
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
}

.project {
  margin: 0 auto;
  max-width: 450px;
  border-radius: 8px;
  background-color: var(--bg-trans);
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.project__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project img {
  max-width: 200px;
  max-height: 400px;
  float: left;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -ms-border-radius: 8px 0 0 8px;
  -o-border-radius: 8px 0 0 8px;
}

@media (max-width: 1050px) {
  .projects {
    flex-direction: column;
  }
  .project:last-child {
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  /* .projects img {
    float: none;
    width: 70vw;
    max-height: none;
    max-width: none;
  } */
}
/* about ---------------------------------------- */
.about-me,
.contact {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Word cloud */

.wordCloud {
  display: grid;
  gap: 10px;
  grid-template:
    '.              .              awareness     code                  security     . .'
    '.              .              awareness     imagination    security     . .'
    '.     dedication     awareness     creativity    creativity  creativity     science'
    '.  .  collaboration collaboration solution    challenge     challenge'
    '.              maintenance    maintenance   learn         solution    .     .'
    '.              .              .             .             solution    .     .';
}

.wordCloud > div {
  transition: 0.3s;
  width: min-content;
  height: min-content;
  /* border: 1px solid gray; */
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.wordCloud > div:hover {
  padding: 20px;
  box-shadow: inset 5px 5px 30px 1px gray;
  border-radius: 10px;
  cursor: crosshair;
  /* -webkit-transform: rotateZ(-15deg);
  -ms-transform: rotateZ(-15deg);
  transform: rotateZ(-15deg); */
}

#awareness {
  color: var(--col1);
  font-size: 2em;
  grid-area: awareness;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;

  /* position: static; */
  /* width: 100px; */
  /* transform-origin: center center; */

  /* align-self: center; */
  /* justify-self: right; */
}
#security {
  color: var(--col2);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 0.9em;
  font-weight: bold;
  grid-area: security;
  align-self: flex-end;
}
#code {
  color: var(--col3);
  font-size: 2.5em;
  font-weight: bold;
  grid-area: code;
}
#science {
  color: var(--col4);
  font-size: 2.3em;
  grid-area: science;
}
#learn {
  color: var(--col5);
  grid-area: learn;
  font-size: 3em;
}
#solution {
  color: var(--col1);
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  font-size: 2.5em;
  grid-area: solution;
  /* transform-origin: center left; */
}
#challenge {
  color: var(--col2);
  font-size: 1.3em;
  grid-area: challenge;
  align-self: center;
}

#imagination {
  color: var(--col3);
  font-size: 2em;
  grid-area: imagination;
}

#dedication {
  color: var(--col4);
  grid-area: dedication;
}
#collaboration {
  color: var(--col5);
  font-size: 2em;
  grid-area: collaboration;
  justify-self: flex-end;
}
#maintenance {
  color: var(--col1);
  grid-area: maintenance;
  justify-self: flex-end;
}

#creativity {
  color: var(--col2);
  font-size: 4em;
  grid-area: creativity;
}

@media (max-width: 600px) {
  .intro {
    padding-top: 170px;
    height: 500px;
    width: min-content;
    margin: 0 auto;
  }

  .wordCloud {
    gap: 5px;
  }

  #awareness,
  #collaboration {
    font-size: 1.5em;
  }

  #science {
    font-size: 1em;
  }
  #learn {
    font-size: 2em;
  }
  #solution,
  #imagination {
    font-size: 1.5em;
  }

  #creativity {
    font-size: 2.8em;
  }
}

/* contact ------------------------------------------ */

input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  /* border: none; */
  background-color: antiquewhite;
  border-radius: 4px;
  resize: vertical;
  margin: 8px 0;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type='submit'] {
  background-color: var(--col5);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type='submit']:hover {
  background-color: var(--col3);
}

.container {
  border-radius: 8px;
  /* background-color: var(--col5); */
  /* border: 1px solid var(--col1); */
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .col-25,
  .col-75,
  input[type='submit'] {
    width: 100%;
    margin-top: 0;
  }
}
