{% extends 'base.html' %}
{% block title %}Add Rental{% endblock %}
{% block content %}

    <div class="container mt-5" style="width: 800px;">
        <form method="post" class="row g-3">
            {% csrf_token %}
            {{ form }}
            <div class="container my-5">
                <button class="btn btn-secondary" type="reset">clear form</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% endblock %}




