{% extends 'base.html' %}
{% block title %}Vehicle{% endblock %}
{% block content %}

    <div class="card mx-5 my-3" style="width: 25rem;">
        <a class="card-header" href="{% url 'vehicle_view' vehicle.id %}"> ID {{ vehicle.id }} </a>
        <div class="card-body">
            <h4 class="card-text">{{ vehicle.vehicle_type.name }} {{ vehicle.size.name }}</h4>
            <p class="card-text">Cost: {{ vehicle.real_cost }} $</p>
            <p class="card-text">Created at: {{ vehicle.date_created.year }}</p>
        </div>
    </div>

{% endblock %}