* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

:root {
  --gray: #555b6e;
  --grayD: #1a1d23;
  --green: #89b0ae;
  --greenL: #bee3db;
  --white: #faf9f9;
  --cream: #ffd6ba;
}

.grid {
  color: var(--grayD);
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 3fr / 1fr 2fr;
  grid-template-areas:
    'pic title title'
    'side exp exp';
  grid-template-rows: auto;
}

.grid > div {
  padding: 16px;
}

.pic {
  grid-area: pic;
  background-image: url('assets/photo.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  min-height: 200px;
}

.title {
  grid-area: title;
  margin: 45px 0px 0px 45px;
}

.title span {
  font-weight: 700;
  color: var(--grayD);
}

.title h1 {
  font-size: 2.5em;
  font-family: 'Lora', serif;
  font-weight: 700;
}

/* .stack {
  grid-area: 2 / 1 / span 1 / span 3;
  background-color: var(--greenL);
  opacity: 0.5;
} */
.stack li {
  /* font-size: calc(10px + 0.5vh); */
  font-size: 12px;
}

.contact,
.side {
  background-color: var(--grayD);
  color: var(--white);
  /* display: grid; */
}

.col {
  display: flex;
  flex-flow: column;
}
.col a {
  color: var(--white);
}

.contactRow {
  padding-bottom: 16px;
}
.contactRow a {
  color: var(--cream);
  padding-right: 5px;
}

.contact button {
  border-radius: 50px;
  border: none;
  font-size: 25px;
  color: var(--grayD);
  width: 40px;
  height: 40px;
  margin: 8px;
}

.social {
  display: flex;
  justify-content: end;
}

.exp {
  grid-area: exp;
  margin-left: 45px;
  margin-right: 45px;
  text-align: justify;
}

.exp h3 {
  text-decoration: underline;
}

.exp h1 {
  color: var(--green);
}

.exp hr {
  color: var(--green);
}

.side {
  grid-area: side;
}

.side > div {
  text-align: end;
  margin: 45px 16px 0px 16px;
}

.side > div hr {
  border-color: var(--cream);
}

.side > div h1 {
  color: var(--cream);
}

.education #details {
  font-size: 0.8em;
}

.languages li {
  direction: rtl;
  list-style-position: inside;
  padding: 5px;
}

.skills {
  padding-bottom: 100px;
}

.skills ul {
  padding: 0;
}

.skills li {
  display: inline-block;
  margin: 5px;
  background-color: var(--white);
  color: var(--gray);
  border: 1px solid;
  border-radius: 15px;
  padding: 3px 10px;
  font-weight: bold;
  color: var(--grayD);
}

@media only screen and (max-width: 600px) {
  .grid {
    display: block;
  }
  .side div{
    text-align: center;
  }
  .social{
    justify-content: center;
  }
}
