* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

:root {
  --gray: #555b6e;
  --grayD: #1a1d23;
  --green: #89b0ae;
  --greenL: #bee3db;
  --white: #faf9f9;
  --cream: #ffd6ba;
}

.grid {
  color: var(--grayD);
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 1fr 3fr / 1fr 2fr;
  grid-template-areas:
    'pic title title'
    'side exp exp';
  grid-template-rows: auto;
}

.grid > div {
  padding: 16px;
}

.pic {
  grid-area: pic;
  background-image: url('assets/photo.jpeg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.title {
  grid-area: title;
  /* background-color: var(--cream); */
}

.title span {
  font-weight: 700;
  color: var(--grayD);
}

.title h1 {
  font-size: 2.5em;
  font-family: 'Lora', serif;
  font-weight: 700;
}

/* .stack {
  grid-area: 2 / 1 / span 1 / span 3;
  background-color: var(--greenL);
  opacity: 0.5;
} */
.stack li {
  /* font-size: calc(10px + 0.5vh); */
  font-size: 12px;
}

.contact,
.side {
  background-color: var(--grayD);
  color: var(--white);
  /* display: grid; */
}

.col {
  display: flex;
  flex-flow: column;
}
.col a {
  color: var(--white);
}

.contactRow {
  display: flex;
  justify-content: space-between;
}
.contactRow a {
  color: var(--cream);
  margin-bottom: 16px;
}

.contact button {
  border-radius: 50px;
  border: none;
  font-size: 25px;
  color: var(--grayD);
  width: 40px;
  height: 40px;
  margin: 8px;
}

.social {
  display: flex;
  justify-content: center;
}

.exp {
  grid-area: exp;
}

.side {
  grid-area: side;
}

.side > div {
  text-align: end;
  margin: 60px 16px 0px 16px;
}

.side > div hr {
  border-color: var(--cream);
}

.side > div h1 {
  color: var(--cream);
}

.skills ul {
  padding: 0;
}

.skills li {
  display: inline-block;
  margin: 3px;
  /* background-color: var(--grayD);
  color: var(--gray); */
  border: 1px solid;
  border-radius: 15px;
  padding: 3px 10px;
}
