* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  padding-left: 1vh;
  border: 5px solid black;
  border-bottom: 0;
  height: 5vh;
  font-size: 3vh;
}
.grid {
  display: grid;
  position: absolute;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 3fr;
  row-gap: 5vh;
  column-gap: 4vh;
  height: 95vh;
  width: 100vw;
  padding: 4vh 6vh 4vh 2vh;
  border: 5px solid black;
}

.grid > div {
  border: 5px solid black;
}

#pink {
  background-color: pink;
}

#blue {
  background-color: lightskyblue;
}

#orange {
  background-color: orange;
  grid-column: 1/3;
}
