* {
  margin: auto 0;
}
html {
  width: 100%;
}

body {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

body div > * {
  height: 100px;
  width: 100px;
  background-color: yellow;
  border: 3px solid black;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.middle {
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
